@using SIMSWeb.Models.Course;

@model ViewCourseModel;

<div class="row col-12">
    <div class="card mb-3">
        <div class="card-header h5 fw-bold">Course Details</div>
        <div class="card-body">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label control-label card-body fw-bold">Course Name:</label>
                </div>
                <div class="col-auto">
                    @Model.Name
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label control-label card-body fw-bold">Description:</label>
                </div>
                <div class="col-9 flex-wrap" style="word-wrap: break-word; word-break: break-all">
                    @Model.Description
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label control-label card-body fw-bold">Teacher name:</label>
                </div>
                <div class="col-auto">
                    @(!string.IsNullOrEmpty(Model?.TeacherName) ? Model.TeacherName : "")
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label control-label card-body fw-bold">
                        No of Assignments:
                    </label>
                </div>
                <div class="col-9 flex-wrap" style="word-wrap: break-word; word-break: break-all; align-content:center">
                    <a target="_blank" class="text-primary text-decoration-none g-2" asp-controller="Assignment"
                       asp-action="ViewAssignments" asp-route-courseId="@Model.Id" title="View Assignments">
                        @Model.AssignmentsCount

                        <span>
                            View assignments
                            @if (Model.AssignmentsCount > 0)
                            {
                                <i class="bi bi-box-arrow-up-right"></i>
                            }
                        </span>
                    </a>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label control-label card-body fw-bold">Status:</label>
                </div>
                <div class="col-auto">
                    @(Model.IsActive ? "Active" : "Not Active")
                </div>
            </div>
        </div>
    </div>
</div>

