@using SIMSWeb.Model.Models
@using SIMSWeb.Model.ViewModels

@{
    ViewData["Title"] = "My Profile";
}

@model TeacherProfile;

<div class="container">
    <div class="row g-3">
        <div class="col-md-3">
            @{
                var metricActiveCourseModel = new MetricsViewModel
                {
                    Label = "Active Teaching Courses",
                    Value = Model.TeacherProfileMetrics?.ActiveCourses ?? 0,
                    BgColor = "bg-success-subtle border-success",
                    ActionName = "ManageCourses",
                    ControllerName = "Course"
                };
                <partial name="_MetricsViewPartial" model="@metricActiveCourseModel" />
            }
        </div>
        <div class="col-md-3">
            @{
                var metricEnrolledStudentsModel = new MetricsViewModel
                {
                    Label = "Total Students Enrolled",
                    Value = Model.TeacherProfileMetrics?.TotalStudentsTaught ?? 0,
                    BgColor = "bg-info-subtle border-info",
                };
                <partial name="_MetricsViewPartial" model="@metricEnrolledStudentsModel" />
            }
        </div>
        <div class="col-md-3">
            @{
                var metricAssignmentsModel = new MetricsViewModel
                {
                    Label = "Total Assignments created",
                    Value = Model.TeacherProfileMetrics?.TotalAssignmentsCreated ?? 0,
                    BgColor = "bg-info-subtle border-info",
                };
                <partial name="_MetricsViewPartial" model="@metricAssignmentsModel" />
            }
        </div>
    </div>
    <!-- #Personal details -->
    <partial name="_PersonalDetailsProfilePartial" model="@Model.User" />
    <!-- #endregion -->

    <div class="card mb-3">
        <div class="card-header h5 fw-bold">Course Details</div>
        <div class="card-body">
            <div class="row">
                @if (Model.TeacherCourses.Count > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Course Name</th>
                                    <th>Students Enrolled</th>
                                    <th>Assignments Created</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var course in Model.TeacherCourses)
                                {
                                    <tr>
                                        <td>@course.CourseName</td>
                                        <td>
                                            @if (course.StudentsEnrolled.Count > 0)
                                            {
                                                <ul class="mb-4">
                                                    @foreach (var student in course.StudentsEnrolled)
                                                    {
                                                        <li>
                                                            @student
                                                        </li>

                                                    }

                                                </ul>
                                            }
                                            else
                                            {
                                                <span class="p-3">No students enrolled</span>
                                            }
                                        </td>
                                        <td>
                                            @if (course.AssignmentCreated.Count > 0)
                                            {
                                                <ul class="mb-4">
                                                    @foreach (var assignment in course.AssignmentCreated)
                                                    {
                                                        <li class="gap-2">
                                                            <span>
                                                                @assignment.AssignmentName
                                                            </span>
                                                            <span>
                                                                <a target="_blank" asp-action="EditAssignment" asp-controller="Assignment" asp-route-id="@assignment.AssignmentId"
                                                                   asp-route-courseId="@course.Id" class="icon-link btn-sm"
                                                                   title="Edit Assignment">
                                                                    <i class="bi bi-pencil"></i>
                                                                </a>
                                                            </span>
                                                        </li>

                                                    }
                                                </ul>
                                            }
                                            else
                                            {
                                                <span class="p-3">No assignments created</span>
                                            }
                                        </td>
                                        <td>
                                            <a target="_blank" class="text-primary text-decoration-none" asp-controller="Assignment"
                                               asp-action="AddAssignment" asp-route-courseId="@course.Id">
                                                Add Assignment
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {

                    var message = new NoDataViewModel
                    {
                        message = "No courses are assigned"
                    };

                    <partial name="_NoDataPartial" model="@message" />
                }
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header h5 fw-bold">Recent Enrollments</div>
        <div class="card-body">
            <div class="row table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>Course</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var enrollment in Model.RecentlyEnrolledStudents)
                        {
                            <tr>
                                <td>@enrollment.Name</td>
                                <td>@enrollment.CourseName</td>
                                <td>@enrollment.EnrollmentDate.ToString("dd MMM, yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


