@using SIMSWeb.Models.Course
@{
    ViewData["Title"] = "View Course";
}

<style>
    .control-label {
        width: 250px;
    }
</style>

@model ViewCourseModel;

<div class="container">
    <input asp-for="@Model.Id" name="Id" hidden />
    <partial name="_CourseViewPartial" model="@Model"/>
    <!--Faculty details-->
    <partial name="_TeacherViewPartial" model="@Model" />
   <!--Student details-->
    <div class="row col-12">
        <div class="card mb-3">
            <div class="card-header h5 fw-bold d-flex justify-content-between">
                Student Details
                @if (!User.IsInRole("Student") && Model?.Students != null && Model.Students.Any())
                {
                    <a class="btn btn-outline-primary" asp-controller="Course"
                       asp-action="EditCourse" asp-route-id="@Model.Id" 
                       asp-route-enrollStudents="true">Enroll Students</a>
                }
            </div>
            <div class="card-body">
                @if (Model?.Students != null && Model.Students.Any())
                {
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th>Student Name</th>
                                <th>Enrollment Date</th>
                                <th>Term</th>
                                <th>Score</th>
                                <th>Remarks</th>
                            </tr>
                            @foreach (var student in Model.Students.Select((value, index) => (value, index)))
                            {
                                <tr>
                                    <td class="col-1">@(student.index + 1)</td>
                                    <td class="col-2">@student.value.StudentName</td>
                                    <td class="col-2">
                                        @(student.value.EnrollmentDate?.ToString("dd MMM, yyyy") ?? "No date available")
                                    </td>
                                    <td class="col-1">
                                        @student.value.Term
                                    </td>
                                    <td class="col-1">
                                        @student.value.Marks
                                    </td>
                                    <td>
                                        @student.value.Comments
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="text-center align-content-center" style="height:100px">
                        <h6 class="text-muted">No students enrolled to this course.</h6>
                        @if (!User.IsInRole("Student"))
                        {
                            <a class="btn btn-outline-primary" asp-controller="Course"
                               asp-action="EditCourse" asp-route-id="@Model.Id"
                               asp-route-enrollStudents="true">Enroll Students</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <a asp-controller="Course" asp-action="ManageCourses"
       class="btn btn-primary">
        Back
    </a>
</div>
